.main-header {
    border-bottom: 1px solid #E0E0E0;
    width: 100%;        

    &__container {
        box-sizing: border-box;
        position: relative;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding: 14px 60px 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile-button {
        display: none;
    }

    &__navigation {
        margin: 0 0 0 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__nav-arrow {
        display: none;
    }
    
    &__links-list {
        list-style-type: none;
        margin: 0;
        margin-right: 55px;        
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;        
    }
    
    &__nav-link{
        position: relative;

        &:hover::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -28px;
            width: 100%;
            height: 2px;
            background-color: $harley-davidson-orange;
        }

        &--catalog {
            width: fit-content;
        }
    }

    &__offices-link {

        box-sizing: border-box;
        border: 1px solid $harley-davidson-orange;
        border-radius: 4px;       
        line-height: 14px;
        padding: 11px 19px;
        color: $harley-davidson-orange;
        text-align: center;
        
        &:hover {
            background-color: $harley-davidson-orange;
            color: $color-default-white;
        }
    }

    &__offices-span-mobile {
        display: none;
    }

    &__catalog {
        max-width: 1400px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 71px;
    }

}

@media (max-width: 1249.9px) {
    .main-header {        
        
        &__container {            
            padding: 14px 40px 17px;            
        }        
        
        &__offices-span-mobile {
            display: block;
        }

        &__offices-span-desktop {
            display: none;
        }        
    }
}

@media (max-width: 1023.9px) {
    .main-header {

        &__container {            
            padding: 14px 30px 14px;            
        }

        &__links-item {           
            margin-bottom: 10px;               
            margin-right: 10px;               
        }
        
        &__nav-link:hover::after {
            bottom: -5px;            
        }

        &__links-list {            
            margin-right: 35px;           
            justify-content: flex-start;                   
        }

        &__catalog {           
            top: 70px;
        }
    }    
}

@media (max-width: 767.9px) {
    .main-header {

        &__container {
            padding: 10px 20px;
        }        

        &__navigation {
            position: absolute;
            top: 50px;
            left: 0;
            margin: 10px 0;            
            flex-direction: column;
            align-items: center;
            justify-content: space-between; 
            width: 100%;
            background-color: $color-default-white;
            z-index: 3;                                 
        }

        &__navigation--closed {            
            display: none;            
        }

        &__links-list {
            flex-direction: column;
            margin: 0;
            width: 100%;            
        }

        &__links-item {              
            justify-content: center;          
            border-bottom: 1px solid #E0E0E0;
            margin: 0;
            padding: 10px;
            padding-left: 30px;
        }

        &__mobile-button {
            display: flex;
            border: none;
            background-color: inherit;
            padding: 0;
            cursor: pointer;
        }

        &__catalog {           
            position: relative;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        &__nav-arrow {
            display: block;
            margin-left: 10px;
            
            &--up {
                transform: rotate(180deg);
            }
        }

        &__nav-link--catalog {
            display: flex;
            align-items: center;            
        }

        &__offices-link {
            margin: 20px 20px;
            align-self: start;
                                
        }
    }
}